{% extends 'base.html' %}
{% block content %}

<br />
<div class="card">
    <div class="card-content">
        <span class="card-title">{{ profile.username }}</span>
        <p>{{ profile.contact_info }}</p>
        <p>{{ profile.bio }}</p>
    </div>
    {% if user.id == profile.user_id %}
    <div class="card-action">
        <a href="{% url 'profile_update' profile.id %}">Edit</a>
        <a href="{% url 'profile_delete' profile.id %}">Delete</a>
    </div>
    {% endif %}
</div>


{% endblock %}