{% extends 'base.html' %}
{% block content %}

<br />
    <h1>{{ profile.username }}</h1>
    <hr />
    <br />
    <div class="card">
        <div class="card-content">
            <h5>Contact:</h5>
            <p>{{ profile.contact_info }}</p>
            <h5>Bio:</h5>
            <p>{{ profile.bio }}</p>
        </div>
        {% if user.id == profile.user_id %}
        <div class="card-action">
            <a href="{% url 'profile_update' profile.id %}">Edit</a>
            <a href="{% url 'profile_delete' profile.id %}">Delete</a>
        </div>
    </div>
    {% endif %}


{% endblock %}