{% extends 'base.html' %}
{% block content %}
<br />
<h1>Brow Game</h1>
<hr />
<h3>What is Brow Games about?</h3>
<hr />
<p>Brow Games was made for Creators to share their Web Browser Games with other Creators and Gamers.<br />
    We wanted some where that people can come together, share their games, let others play them and rate the games themselves.<br />
    We hope to see you around and either uploading some cool games or playing them!
    <br /><br />
    Happy Gaming!
    <br /><br />
    - Brow Game Team
</p>
<hr />
<h3>Credits</h3>
<hr />
lamekammi<br />
Alex Azevedo<br />
Jacob Shapiro

{% endblock %}
