body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
  
main {
  flex: 1 0 auto;
}
  
footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
