{% extends 'base.html' %}
{% block content %}

<br />
<h1>{{ game.title }}</h1>
<br />
  <div class="card-action">
    {% for photo in game.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}" width="600" height="600">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
    {% if user.id == game.user_id %}
      <form action="{% url 'add_photo' game.id %}" enctype="multipart/form-data" method="POST" alt="Game Photo" class="card-panel">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br><br>
        <input type="submit" class="btn" value="Upload Photo">
      </form>
    {% endif %}
  </div>
  <div class="card">
    <div class="card-content">
      <h5>Description:</h5> 
      <p>{{ game.description }}</p>
      <h5>Creator:</h5> 
      <p>{{ game.creator }}</p>
      <br />
      <button class="play"><a class="play-link" href=" {{ game.link }} " target="_blank"><img src="https://i.imgur.com/oZjkKDd.png?1" alt="Play" class="play-now"></a>
    </div>
    <div class="card-action">
      {% if user.id == game.user_id %}
        <a href="{% url 'games_update' game.id %}">Edit</a>
        <a href="{% url 'games_delete' game.id %}">Delete</a>
      {% endif %}
    </div>
  </div>
  <br />
    <form action="{% url 'add_comment' game.id %}" method="POST">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <input type="submit" class="btn" value="Add Comment">
    </form>
  <br />
  <hr />
    {% for comment in game.comment_set.all %}
      <h5>Rating:</h5>
      <p> {{ comment.rating }}</p>
      <h5>Comment:</h5> 
      <p>{{ comment.comment }}</p>
      <hr />
    {% endfor %}
    <br />
    <h3>{{ game.title }}'s Genres</h3>
      {% if game.genres.count %}
        {% for genre in game.genres.all %}
          <span class="card-title">
            {{ genre.name }}
            <br />
          </span>
        {% endfor %}
      {% else %}
        <h5>No Genres :(</h5>
      {% endif %}
    <br />
{% if user.id == game.user_id %}
  <h3>Available Genres</h3>
  {% if genres.count %}
      {% for genre in genres.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ genre.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_genre' game.id genre.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{game.title}} Already Has All Genres Available</h5>
    {% endif %}
  {% endif %}
<script>

  const selectEl = document.getElementById('id_rating');
  M.FormSelect.init(selectEl);
    
</script>
{% endblock %}
  