{% extends 'base.html' %}
{% block content %}

<h1>Game Details</h1>
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ game.title }}</span>
      <p>Description: {{ game.description }}</p>
      <p>Link: {{ game.link }}</p>
    </div>
    <div class="card-action">
      <a href="{% url 'games_update' game.id %}">Edit</a>
      <a href="{% url 'games_delete' game.id %}">Delete</a>
    </div>
  </div>
  <div class="card">
    <div class="card content">
         <form action="{% url 'add_comment' game.id %}" method="POST">
              {% csrf_token %}
              {{ comment_form.as_p }}
              <input type="submit" class="btn" value="Add Comment">
            </form>
         {% for comment in game.comment_set.all %}
              <p>Rating: {{ comment.rating }}</p>
              <p>Comment: {{ comment.comment }}</p>
         {% endfor %}
    </div>
</div>

  <script>

    const selectEl = document.getElementById('id_rating');
    M.FormSelect.init(selectEl);
    
</script>
{% endblock %}
  